<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Chor Bazar Admin Dashboard</title><!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type=
    "text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=
                "#bs-example-navbar-collapse-1" data-toggle="collapse" type=
                "button"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span></button> <a class="navbar-brand"
                href="/adminrest/home">Chor Bazar</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id=
            "bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <%
                    if(req.session.loggedIn === true) {
                        %>
                    <li>
                        <a href=
                        "/user/details/"><%= req.session.username %></a>
                    </li>
                    <li>
                        <a href="/user/logout">Logout</a>
                    </li><%} else { %>
                    <li>
                        <a href="/user/login">Login</a>
                    </li>
                    <li>
                        <a href="/user/registration">Sign Up</a>
                    </li><%} %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <div class="container-fluid">
        
                
                <h2 class="sub-header">Customer Information</h2>
                <div class="table-responsive">
                    <table class="table table-striped" id="detailsTable">
                        <thead>
                            <tr>
                                <th>CustomerId</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Street</th>
                                <th>City</th>
                                <th>Zipcode</th>
                                <th>State</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].CustomerId %></td>
                                 <td><%= data[i].FirstName %></td>      
                                 <td><%= data[i].LastName %></td>
                                 <td><%= data[i].Phone %></td>
                                 <td><%= data[i].Email %></td>
                                 <td><%= data[i].Street %></td>
                                 <td><%= data[i].City %></td>
                                 <td><%= data[i].Zipcode %></td>
                                 <td><%= data[i].State %></td>
                                 <td><%= data[i].Country %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div><!-- jQuery -->
    <script src="/js/jquery.js">
    </script> <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#detailsTable').DataTable();
        } );
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
</body>
</html>