

<head>

 <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



</head>

<h1>Customer Information</h1>

<table class="table">
<tr class="warning">
<th>CustomerId</th>
<th>FirstName</th>
<th>LastName</th>
<th>Phone</th>
<th>Email</th>
<th>Street</th>
<th>City</th>
<th>Zipcode</th>
<th>State</th>
<th>Country</th>
<% for(var i=0; i < data.length; i++) { %>

</tr>
   <tr class="info">
     <td><%= data[i].CustomerId %></td>
     <td><%= data[i].FirstName %></td> 		
     <td><%= data[i].LastName %></td>
     <td><%= data[i].Phone %></td>
     <td><%= data[i].Email %></td>
     <td><%= data[i].Street %></td>
     <td><%= data[i].City %></td>
     <td><%= data[i].Zipcode %></td>
     <td><%= data[i].State %></td>
     <td><%= data[i].Country %></td>
    </tr>
<% } %>
</table>